@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model FBLA_project.ApplicationModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles {
    <link rel="stylesheet" href="~/css/ApplicationStyles.css" />
}

@section Scripts {
    <script type="text/javascript" src="~/js/ApplicationScripts.js"></script>
}

@if (Model.Completed == false)
{
    <div class="head-container">
        <h1 class="title">Apply for 
            <span class="job-name">@Model.Job.Title</span>
            </h1>

        <div class="job-info">
            <img class="job-img" src="@Model.Job.ImgSrc" />
            <p class="job-info-text">@Model.Job.Text</p>
        </div>
    </div>
}

@if (Model.Completed)
{
    <h1 class="title">Thank you for applying!</h1>
}


@if (Model.Completed == false)
{
    if (!( string.IsNullOrEmpty(Model.Message) ))
    {
        <div class="msg">@Model.Message</div>
    }
    <form class="application-form" asp-controller="Jobs" asp-action="Application" asp-route-id="@Model.Job.Id" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="zen-form-group" id="item-name">
            <label class="field" asp-for="Application.Name">
                Name
            </label>
            <input class="form-input" asp-for="Application.Name" required />
        </div>

        <div class="zen-form-group" id="item-phone">
            <label class="field" asp-for="Application.PhoneNumber">
                Phone Number
            </label>
            <input class="form-input" asp-for="Application.PhoneNumber" required />
        </div>

        <div class="zen-form-group" id="item-strengths">
            <label class="field" asp-for="Application.Strengths">What would you consider to be your strengths?</label>
            <textarea class="form-input" asp-for="Application.Strengths" required></textarea>
        </div>

        <div class="zen-form-group" id="item-why">
            <label class="field" asp-for="Application.WhyThisJob">Why would you like to apply here? </label>
            <textarea class="form-input" asp-for="Application.WhyThisJob" required></textarea>
        </div>

        <div class="resume-upload" id="item-resume">
            <label asp-for="ResumeFile">Upload Resume Here</label>
            <input asp-for="ResumeFile" type="file" required>
            <span style="display:none;" id="file-checkbox">&#10003;</span>
            <span asp-validation-for="ResumeFile"></span>
        </div>


        <button class="apply" type="submit" id="item-submit-btn">Apply</button>
    </form>
}